<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9CHvPPvzM2nEK-RA4Ixiikswc981Sj7A</string>
	<key>GCM_SENDER_ID</key>
	<string>502238701107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mariia.dev.bor.Booklyn</string>
	<key>PROJECT_ID</key>
	<string>booklyn-66dd4</string>
	<key>STORAGE_BUCKET</key>
	<string>booklyn-66dd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GIDClientID</key>
	<string>502238701107-e8plj788mkod899r2h4g04tr631rqh8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502238701107-e8plj788mkod899r2h4g04tr631rqh8e</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:502238701107:ios:c44c0f676c0635f1a36546</string>
</dict>
</plist>
